<h3 class='school-unity-title'><%= Responsible.model_name.human count: 2 %></h3>

<table class='school-unity-title mdl-data-table mdl-js-data-table mdl-shadow--3dp'>
  <thead>
  <tr>
    <th class='mdl-data-table__cell--non-numeric'><%= Responsible.human_attribute_name :name %></th>
    <th class='mdl-data-table__cell--non-numeric'><%= Responsible.human_attribute_name :email %></th>
    <th colspan='3'></th>
  </tr>
  </thead>

  <tbody>
  <% @responsibles.each do |responsible| %>
      <tr>
        <td class='mdl-data-table__cell--non-numeric'><%= responsible.name %></td>
        <td class='mdl-data-table__cell--non-numeric'><%= responsible.email %></td>
        <td>
          <%= form_for responsible, method: :get do |f| %>
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">remove_red_eye</i>
              </button>
          <% end %>
        </td>
        <td>
          <%= form_for '', url: edit_responsible_path(responsible), method: :get do |f| %>
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">edit</i>
              </button>
          <% end %>
        </td>
        <td>
          <%= form_for responsible, method: :delete, data: {confirm: t('confirm_destroy')} do |f| %>
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">delete</i>
              </button>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= form_for '', url: new_responsible_path, method: :get do |f| %>
  <button class="fab-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
<% end %>