<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><%= t('app_name') %></span>
      <div class="mdl-layout-spacer"></div>
      <%= render 'layouts/nav' if current_user%>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <span class="mdl-layout-title"><%= t('app_name') %></span>
      <div class="mdl-layout-spacer"></div>
      <%= render 'layouts/nav' if current_user%>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><%= yield %></div>
  </main>
</div>

<button onclick="window.history.back();" 
  class="back-button mdl-button mdl-js-button mdl-button--fab">
  <i class="material-icons">arrow_backward</i>
</button>